{% extends 'base.html' %}
{% load staticfiles %}
{% load pagetag %}

{% block title %}Pyshu·{{ article.title }}{% endblock %}

{% block nav %}
    <li class="hd-li"><a href="/index"><span>首页<i class="underline"></i></span></a></li>
    <li class="hd-li"><a class="cur" href="/articles/"><span>文章<i class="underline"></i></span></a></li>
    <li class="hd-li"><a href="/category/"><span>分类<i class="underline"></i></span></a></li>
    <li class="hd-li"><a href="https://github.com/pyshu" target="_blank"><span>github<i class="underline"></i></span></a></li>
    <li class="hd-li"><a href="/about/"><span>关于<i class="underline"></i></span></a></li>
{% endblock %}

{% block blog_content %}
    {% if param != '' %}
        <h2><b>全文阅读</b>: {{ article.title }}</h2>
        <div class="blogs">
            <ul style="width: 100%">
                <div style="clear: none;margin-bottom: 20px"> {{ article.content|safe }} </div>
                <p class="autor" style="position:inherit">
                    <span class="lm f_l"><a href="/category/{{ article.category.id }}">{{ article.category.name }}</a></span>
                    <span class="dtime f_l">{{ article.create_date|date:"Y-m-d" }}</span>
                    <span class="viewnum f_l">浏览（{{ article.page_view }})<a href="/"></a></span>
                    <span class="pingl f_l">评论（<a href="#id_blog_ctg">{{ sql_comment.count }}</a>）</span>
                </p>
            </ul>
        </div>
        <div class="blog_ctg" id="id_blog_ctg">
            <h3>文章评论</h3>
            <form id ="form" class="cmt_from" action="/articles/{{ article.id }}" method="post">
                {% csrf_token %}
                <table style="margin: 0">
                    <tr style="height: 30px">
                        <td>用户：{{ form.username }}</td>
                    </tr>
                    <tr style="height: 30px">
                        <td>邮箱：{{ form.email }}</td>
                    </tr>
                    <tr style="height: 160px">
                        <td><p>内容：</p>{{ form.content }}</td>
                    </tr>
                </table>
                <input type="hidden"  name="article" value={{ article.id }} />
                <input type="hidden"  name="pid" value=None />
                <input type="hidden"  name="reply_who" value=None />
                <input style="height: 30px; width: 80px;margin: 5px" type="submit" value="提交" />
            </form>
            <h4>评论{{ sql_comment.count }}条</h4>
            <ul>
                {% if sql_comment.count > 0 %}
                    {% for cmt in list_comment %}
                    <li>
                        <div class="blog_ctg_self">
                            <div class="blog_ctg_avatar ">
                                <img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=50"
                                     class="avatar" height="40" width="40"></div>
                            <div class="blog_ctg_body ">
                                <div class="">
                                    <span class=""><a href="" class="blog_ctg_name">{{ cmt.username }}</a></span>
                                </div>
                                <p>{{ cmt.content }}</p>
                                <div class=""><span class="blog_ctg_time">{{ cmt.date_publish|date:"Y-m-d H:i:s" }}</span>
                                    <a class="blog_ctg_reply" href="javascript:void(0)" onclick="move();"><span></span>回复</a>
                                </div>
                            </div>
                        </div>
                        <ul style="padding-left: 40px">
                            {% for child_cmt in cmt.children %}
                                <div class="blog_ctg_self">
                                    <div class="blog_ctg_avatar ">
                                        <img alt=""
                                             src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=50"
                                             class="avatar" height="40" width="40"></div>
                                    <div class="blog_ctg_body ">
                                        <div class="">
                                            <span class=""><a href="" class="blog_ctg_name">{{ child_cmt.username }}</a></span>
                                        </div>
                                        <p> {{ child_cmt.content }}</p>
                                        <div class=""><span
                                                class="blog_ctg_time">{{ child_cmt.date_publish|date:"Y-m-d H:i:s" }}</span>
                                            <a class="blog_ctg_reply" href="javascript:void(0)" onclick="move();"><span></span>回复</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% else %}
        <h2>全部文章</h2>
        {% for art in contacts %}
            <div class="blogs">
                <figure><img src="../static/img/01.jpg"></figure>
                <ul>
                    <h3><a href="/articles/{{ art.id }}">{{ art.title }}</a></h3>
                    <p class="t_idx">{{ art.describe }}</p>
                    <p class="autor">
                        <span class="lm f_l"><a
                                href="/category/{{ art.category.id }}">{{ art.category.name }}</a></span>
                        <span class="dtime f_l">{{ art.create_date|date:"Y-m-d" }}</span>
                        <span class="viewnum f_l">浏览({{ art.page_view }})<a href="/"></a></span>
                        <span class="pingl f_l">评论（<a href="/articles/{{ art.id }}#id_blog_ctg">*</a>）</span>
                    </p>
                </ul>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block blog_paginator %}
    {% if contacts != None and paginator.count > 10 %}
        <div class="page">
            <ul>
                {% if contacts.has_previous %}
                    <li><a href="?page={{ contacts.previous_page_number }}">&lt;&lt;</a></li>
                {% else %}
                    <li><a href="javascript:void(0);">&lt;&lt;</a></li>
                {% endif %}

                {% for page in contacts.paginator.page_range %}
                    {% guess_page contacts.number page %}
                {% endfor %}

                {% if contacts.has_next %}
                    <li><a href="?page={{ contacts.next_page_number }}">&gt;&gt;</a></li>
                {% else %}
                    <li><a href="javascript:void(0);">&gt;&gt;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block search %}
    <div class="searchFrom">
        <form class="sform " method="get" action="" style="" onsubmit="return searchResult(this);">
            <input type="hidden" name="page_id" value="6432">
            <input type="hidden" name="searchtype" value="post">
            <input type="text" class="stext" name="search" id="form_search" value="" placeholder="请输入需要搜索的文字">
            <input type="submit" class="ssubmit" value="Go!">
        </form>
    </div>
{% endblock %}

{% block blog_cat %}
    <div class="new_cat">
        <h2>文章分类</h2>
        <ul>
            {% for cat in category %}
                <li><a href="/category/{{ cat.id }}"><span>{{ cat.name }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{#{% block blog_art %}#}
{#    <div class="new_art">#}
{#        <h2>最新文章</h2>#}
{#        <ul>#}
{#            {% for d in article %}#}
{#                <li><img src="{% static 'img/hat.jpg' %}"><a href=""><span>{{ d.title }}</span></a><p>发布日期：20170707</p></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
{#{% endblock %}#}

{% block blog_tag %}
    <div class="cld_tag">
        <h2>标签云</h2>
        <ul>
            {% for t in tag %}
                <li><a href="/tags/{{ t.id }}"><span>{{ t.name }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}