{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pyshu的小窝{% endblock %}</title>

    <link href="{% static 'css/blog.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript">
        function move() {
            //获取移动的DIV对象
            var obj = document.getElementById("form");
            {#            obj.style.display = 'none';#}
        }
    </script>
    <link href="{% static 'js/kindeditor-4.1.10/plugins/code/prettify.css' %}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'js/kindeditor-4.1.10/plugins/code/prettify.js' %}"></script>
    <script>
        $(function () {
            prettyPrint();
        });
    </script>
</head>
<body>
<div class="b_wapper">
    <header class="">
        <div class="logo l">
            <img src="../static/img/pyshu2.png"/>
        </div>
        <nav class="hd-nav">
            <ul class="hd-ul">
                {% block nav %}{% endblock %}
            </ul>
        </nav>
    </header>
    <div class="center">
        <div class="l_wapper l">
            <div class="topnews">
                {% block blog_content %}{% endblock %}
                {% block blog_paginator %}{% endblock %}
            </div>
        </div>
        <div class="r_wapper l">

            {% block search %}
                <div class="searchFrom">
                    <form class="sform " method="get" action="" style="" onsubmit="return searchResult(this);">
                        <input type="hidden" name="page_id" value="6432">
                        <input type="hidden" name="searchtype" value="post">
                        <input type="text" class="stext" name="search" id="form_search" value=""
                               placeholder="请输入需要搜索的文字">
                        <input type="submit" class="ssubmit" value="Go!">
                    </form>
                </div>
            {% endblock %}

            {% block abt_me %}
                <div class="abt_me">
                    <h2>关于博主</h2>
                    <figure><img src="{% static 'img/hat.jpg' %}"></figure>
                    <p>&nbsp;&nbsp;关于我,我也不知道怎么介绍我自己（PS:太菜）。</p>
                </div>
            {% endblock %}

            {% block blog_cat %}
                <div class="new_cat">
                    <h2>文章分类</h2>
                    <ul>
                        {% for cat in category %}
                            <li><a href="/category/{{ cat.id }}"><span>{{ cat.name }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endblock %}

            {% block blog_art %}
                <div class="new_art">
                    <h2>最新文章</h2>
                    <ul>
                        {% for n_art in newest_article %}
                            <li><a href="/articles/{{ n_art.id }}"><span>{{ n_art.title }}</span></a>
                                <p>发布日期：{{ n_art.create_date|date:'Y-m-d H:i' }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endblock %}

            {% block blog_tag %}
                <div class="cld_tag">
                    <h2>标签云</h2>
                    <ul>
                        {% for t in tag %}
                            <li><a href="/tags/{{ t.id }}"><span>{{ t.name }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endblock %}

        </div>
    </div>

    <footer>
        <p>Copyright &copy; 2016-{% now "Y" %}<br>&nbsp;个人博客 by pyshu</p>
    </footer>
</div>
</body>
</html>