{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pyshu的小窝{% endblock %}</title>

    <link href="{% static 'css/blog.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript">
        function move() {
            //获取移动的DIV对象
            var obj = document.getElementById("form");
{#            obj.style.display = 'none';#}
        }
    </script>
</head>
<body>
<div class="b_wapper">
    <header class="">
        <div class="logo l">
            <img src="../static/img/pyshu2.png" />
        </div>
        <nav class="hd-nav">
            <ul class="hd-ul">
                {% block nav %}{% endblock %}
            </ul>
        </nav>
    </header>
    <div class="center">
        <div class="l_wapper l">
            <div class="topnews">
                {% block blog_content %}{% endblock %}
                {% block blog_paginator %}{% endblock %}
            </div>
        </div>
        <div class="r_wapper l">

            {% block search %}{% endblock %}

            <div class="abt_me">
                <h2>关于博主</h2>
                <figure><img src="{% static 'img/hat.jpg' %}"></figure>
                <p>&nbsp;&nbsp;关于我,我就是我。</p>
            </div>

            {% block blog_cat %}{% endblock %}

            {% block blog_art %}{% endblock %}

            {% block blog_tag %}{% endblock %}

        </div>
    </div>

    <footer>
        <p>Copyright &copy; 2016-{% now "Y" %}<br>&nbsp;个人博客 by pyshu</p>
    </footer>
</div>
</body>
</html>