{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pyshu的小窝</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
</head>
<body>
<div class="b_wapper">
    <header class="">
        <div class="logo l">
            <img src="../static/img/pyshu2.png" />
{#            <p class="l">Pyshu</p>#}
        </div>
        <nav class="hd-nav">
            <ul class="hd-ul bk_color">
                <li class="hd-li"><a class="cur" href=""><span>首页<i class="underline"></i></span></a>
                </li>
                <li class="hd-li"><a href=""><span>文章<i class="underline"></i></span></a></li>
                <li class="hd-li"><a href=""><span>时间轴<i class="underline"></i></span></a></li>
                <li class="hd-li"><a href="https://github.com/pyshu"><span >github<i class="underline"></i></span></a></li>
                <li class="hd-li"><a href=""><span>关于<i class="underline"></i></span></a></li>
{#                <li class="hd-li"><a href=""><span class="bk_color">联系<i class="underline"></i></span></a></li>#}
            </ul>
        </nav>
    </header>
    <div class="center">
        <div class="l_wapper l">
            <div class="topnews">
                <h2><span>
                    <a href="/" target="_blank">More...</a></span>
                    <b>文章</b>推荐
                </h2>
                <div class="blogs">
                    <figure><img src="../static/img/01.jpg"></figure>
                    <ul>
                        <h3 ><a href="/">住在手机里的朋友</a></h3>
                        <p class="t_idx">
                            通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                            </p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span
                                class="dtime f_l">2014-02-19</span><span
                                class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a
                                href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs">
                    <figure><img src="../static/img/02.jpg"></figure>
                    <ul>
                        <h3 ><a href="/">教你怎样用欠费手机拨打电话</a></h3>
                        <p class="t_idx">
                            初次相识的喜悦，让你觉得似乎找到了知音。于是，对于投缘的人，开始了较频繁的交往。渐渐地，初识的喜悦退尽，接下来就是仅仅保持着联系，平淡到偶尔在节假曰发短信互致问候</p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span
                                class="dtime f_l">2014-02-19</span><span
                                class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a
                                href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs bk_c_f1">
                    <figure><img src="../static/img/03.jpg"></figure>
                    <ul class="bk_c_f1">
                        <h3 class="bk_c_f1"><a class="bk_c_f1" href="/">原来以为，一个人的勇敢是，删掉他的手机号码.</a></h3>
                        <p class="t_idx bk_c_f1">
                            原来以为，一个人的勇敢是，删掉他的手机号码、QQ号码等等一切，努力和他保持距离。等着有一天，习惯不想念他，习惯他不在身边,习惯时间把他在我记忆里的身影磨蚀干净</p>
                        <p class="autor bk_c_f1"><span class="lm f_l bk_c_f1"><a href="/">个人博客</a></span><span
                                class="dtime f_l">2014-02-19</span><span
                                class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a
                                href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs bk_c_f1">
                    <figure><img src="../static/img/04.jpg"></figure>
                    <ul class="bk_c_f1">
                        <h3 class="bk_c_f1"><a class="bk_c_f1" href="/">手机的16个惊人小秘密，据说99.999%的人都不知</a></h3>
                        <p class="t_idx bk_c_f1">
                            引导语：知道么，手机有备用电池，手机拨号码12593+电话号码=陷阱……手机具有很多你不知道的小秘密，说出来一定很惊奇！不信的话就来看看吧！</p>
                        <p class="autor bk_c_f1"><span class="lm f_l bk_c_f1"><a href="/">个人博客</a></span><span
                                class="dtime f_l">2014-02-19</span><span
                                class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a
                                href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs bk_c_f1">
                    <figure><img src="../static/img/05.jpg"></figure>
                    <ul class="bk_c_f1">
                        <h3 class="bk_c_f1"><a class="bk_c_f1" href="/">你面对的是生活而不是手机</a></h3>
                        <p class="t_idx bk_c_f1">
                            每一次与别人吃饭，总会有人会拿出手机。以为他们在打电话或者有紧急的短信，但用余光瞟了一眼之后发现无非就两件事：1、看小说，2、上人人或者QQ</p>
                        <p class="autor bk_c_f1"><span class="lm f_l bk_c_f1"><a href="/">个人博客</a></span><span
                                class="dtime f_l">2014-02-19</span><span
                                class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a
                                href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs bk_c_f1">
                    <figure><img src="../static/img/06.jpg"></figure>
                    <ul class="bk_c_f1">
                        <h3 class="bk_c_f1"><a class="bk_c_f1" href="/">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></h3>
                        <p class="t_idx bk_c_f1">
                            现在跨界联姻，时尚、汽车以及运动品牌联合手机制造商联合发布手机产品在行业里已经不再新鲜，上周我们给大家报道过著名手表制造商瑞士泰格·豪雅（Tag Heuer）
                            联合法国的手机制造商Modelabs发布的一款奢华手机的部分谍照，而近日该手机终于被正式发布了</p>
                        <p class="autor bk_c_f1"><span class="lm f_l bk_c_f1"><a href="/">个人博客</a></span><span
                                class="dtime f_l">2014-02-19</span><span
                                class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a
                                href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs bk_c_f1">
                    <figure><img src="../static/img/04.jpg"></figure>
                    <ul class="bk_c_f1">
                        <h3 class="bk_c_f1"><a class="bk_c_f1" href="/">手机的16个惊人小秘密，据说99.999%的人都不知</a></h3>
                        <p class="t_idx bk_c_f1">
                            引导语：知道么，手机有备用电池，手机拨号码12593+电话号码=陷阱……手机具有很多你不知道的小秘密，说出来一定很惊奇！不信的话就来看看吧！</p>
                        <p class="autor bk_c_f1"><span class="lm f_l bk_c_f1"><a href="/">个人博客</a></span><span
                                class="dtime f_l">2014-02-19</span><span
                                class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a
                                href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs bk_c_f1">
                    <figure><img src="../static/img/04.jpg"></figure>
                    <ul class="bk_c_f1">
                        <h3 class="bk_c_f1"><a class="bk_c_f1" href="/">手机的16个惊人小秘密，据说99.999%的人都不知</a></h3>
                        <p class="t_idx bk_c_f1">
                            引导语：知道么，手机有备用电池，手机拨号码12593+电话号码=陷阱……手机具有很多你不知道的小秘密，说出来一定很惊奇！不信的话就来看看吧！</p>
                        <p class="autor bk_c_f1"><span class="lm f_l bk_c_f1"><a href="/">个人博客</a></span><span
                                class="dtime f_l">2014-02-19</span><span
                                class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a
                                href="/">30</a>）</span></p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="r_wapper l">
            <div class="searchFrom">
                <form class="sform " method="get" action="" style="" onsubmit="return searchResult(this);">
                    <input type="hidden" name="page_id" value="6432">
                    <input type="hidden" name="searchtype" value="post">
                    <input type="text" class="stext" name="search" id="form_search" value="" placeholder="请输入需要搜索的文字">
                    <input type="submit" class="ssubmit" value="Go!">
                </form>
            </div>
            <div class="abt_me">
                <h2>关于博主</h2>
                <figure><img src="{% static 'img/hat.jpg' %}"></figure>
                <p>&nbsp;&nbsp;关于我,我就是我。</p>
            </div>
            <div class="new_art">
                <h2>最新文章</h2>
                <ul>
                    <li><img src="{% static 'img/hat.jpg' %}"><a href=""><span>编程那些事儿</span></a>
                        <p>发布日期：20170707</p></li>
                    <li><img src="{% static 'img/hat.jpg' %}"><a href=""><span>编程那些事儿</span></a>
                        <p>发布日期：20170707</p></li>
                    <li><img src="{% static 'img/hat.jpg' %}"><a href=""><span>编程那些事儿</span></a>
                        <p>发布日期：20170707</p></li>
                    <li><img src="{% static 'img/hat.jpg' %}"><a href=""><span>编程那些事儿</span></a>
                        <p>发布日期：20170707</p></li>
                    <li><img src="{% static 'img/hat.jpg' %}"><a href=""><span>编程那些事儿</span></a>
                        <p>发布日期：20170707</p></li>
                </ul>
            </div>
            <div class="cld_flag">
                <h2>标签云</h2>
                <ul>
                    <li><a href=""><span>h5+css3</span></a></li>
                    <li><a href=""><span>python</span></a></li>
                    <li><a href=""><span>C/C++</span></a></li>
                    <li><a href=""><span>linux</span></a></li>
                    <li><a href=""><span>mysql</span></a></li>
                    <li><a href=""><span>mysql</span></a></li>
                    <li><a href=""><span>mysql</span></a></li>
                    <li><a href=""><span>sql</span></a></li>
                    <li><a href=""><span>mysql</span></a></li>
                    <li><a href=""><span>个人博客</span></a></li>
                </ul>
            </div>
        </div>
    </div>


    <footer>
        <p>pyshu,XXXXXXX</p>
    </footer>
</div>
</body>
</html>