*{margin: 0 auto; padding: 0; border-radius: 1px;}
.l{ float: left;}
.r{ float: right;}
.f_l{ float: left;}
.f_r{ float: right;}
.c{ float: none;}
.bk_color{ background-color: #FFF;}
body{background: url("../img/bg.gif") repeat; min-width: 150px}
.b_wapper{max-width: 1200px; position: relative; height: auto; min-height: 100%; margin-top: 15px;}

/*导航栏*/
header {border-bottom:5px solid #6E6E6E; background-color: #FFF; overflow: hidden; margin-bottom: 13px;}
.logo{ padding: 10px; background-color: #FFF; margin-left: 14px;}
.logo figure { float: left; width: 25%; overflow: hidden;}
.logo img{ width: 165px; height: 36px;}
.logo p{ background-color: #FFF; line-height: 32px; font-size: 24px;}
.hd-nav{float: right; margin-right: 20px;background-color: #FFF;}
.hd-ul{ list-style: none; line-height: 58px;}
.hd-li{ margin: 0 15px; float: left; background-color: #FFF; }
.hd-li a{ text-decoration: none; font-size: 20px; color: black;}
.hd-li a:hover{ padding-bottom:5px; border-bottom:3px solid #000;background-color: #999; }
.hd-li a span{background-color: #FFF;}
.cur { padding-bottom:5px; border-bottom:3px solid #000;background-color: #999;}

/*左文章列表*/
.center {background-color: #FFFFFF; height: auto; overflow: hidden;}
.l_wapper{margin: 0px 0;padding: 10px; background-color: #FFF; border: 0px solid #CCC;}

a:link, a:visited { text-decoration: none;}
.topnews { margin: 0;}
.h2css { font-size: 18px; font-weight: bold; line-height: 30px; border-bottom: #6E6E6E 2px solid;}
.topnews h2 span { float: right; font-size: 18px; font-weight: normal; }
.topnews h2 span a { padding: 0 5px;margin-right: 10px}
.topnews h2 span a:hover { color: #000; padding-bottom: 1px; border-bottom:1px solid #000;}
.blogs { padding: 10px 8px; position: relative; border-bottom: #CCC 2px solid; overflow: hidden;}
.blogs h3 { font-size: 17px; font-weight: bold; overflow: hidden;}
.blogs h3 a { line-height:31px; color: #474645;}
.blogs h3 span:hover { color: #7bcfec; padding-bottom: 5px; border-bottom:2px solid #000; transition: all 0.5s ease-out;}
.blogs h3:hover{ overflow:visible; }
.blogs .t_idx{text-indent: 2em; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; text-overflow: ellipsis; }
.blogs figure { float: left; width: 20%; overflow: hidden; display: none}
.blogs figure img { width: 100%; height: 134px; margin: auto; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.blogs figure:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.blogs .art_show { float: right; line-height: 22px; width: 100%; color: #756F71;}
.autor { margin-top: 10px;}
.autor span { margin: 0 10px 0 0; padding-left: 20px }
.autor span a { color: #756f71; }
.autor span a:hover { padding-bottom: 5px; border-bottom:2px solid #000; transition: all 0.5s ease-out;}
.lm { background: url(../img/newsbg01.png) no-repeat left center }
.dtime { background: url(../img/newsbg02.png) no-repeat left center }
.viewnum { background: url(../img/newsbg04.png) no-repeat left center }
.pingl { background: url(../img/newsbg03.png) no-repeat left center }
.tit01 h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px }
.bk_c_f1{background-color: #fff;}

/*评论*/
.blog_ctg{width: auto; position: relative; padding-left: 20px; }
.blog_ctg h3{font-size: 16px; margin: 10px 0; padding-bottom: 0px; border-bottom: 0px solid #E6E6E6; }
.blog_ctg h4{font-size: 14px; margin: 20px 0; padding-bottom: 5px; border-bottom: 1px solid #E6E6E6; }
.blog_ctg ul{}
.blog_ctg li{ width: 100%; list-style: none}
.blog_ctg_self{position: relative; padding: 10px;  border-bottom: 1px solid #E6E6E6;}
.blog_ctg_avatar{width: 50px; height: 50px; margin: 0; display: inline-block; vertical-align: top;}
.blog_ctg_name{color: #1b1358;font-weight: bold;}
.blog_ctg_body{display: inline-block; vertical-align: middle; max-width: 800px;}
.blog_ctg_body p{margin: 6px 0}
.blog_ctg_reply{color: #1b1358}
.blog_ctg_reply span{ width: 18px; height: 13px;  background: #FFF url(../img/reply.png) no-repeat left center; display: inline-block; margin-right: 5px}
#id_username, #id_email{height: 20px}
#id_content{font-size: 18px; height: 150px; margin-top: 5px; max-width: 850px; }
.cmt_from{border: 2px ridge; padding: 10px;}

/*中部右侧列*/
.r_wapper{background: #FFF; width: 21%; padding: 10px; display: none; border-left: 1px solid #CCC; border-bottom: 1px solid #CCC;}
/*搜索*/
.searchFrom{ height: 38px; padding: 10px; width: 240px;border: 1px solid #CCC;}
.stext{ background:#ffffff; border:1px solid #e0e0e0; color:#8d9095; font-size:16px;line-height:18px; padding-top:8px; padding-bottom:8px; height:20px; width: 84%; float: left;}
.ssubmit{ width: 15%; float: left; height: 38px;}
/*关于我*/
.abt_me{ width: 240px; height: auto; padding: 10px; border: 1px solid #CCC;}
.abt_me h2, .new_art h2,.cld_tag h2, .new_cat h2{ height: 30px;font-size: 18px; border-bottom: 2px solid #6E6E6E; border-radius: 1px}
.abt_me figure { overflow: hidden; }
.abt_me img{width: 240px;  height: 272px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.abt_me figure:hover img{ -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.abt_me p{ height: auto; line-height: 27px;}
/*文章分类*/
.new_cat{ width: 240px; padding: 10px; margin-top: 10px;border: 1px solid #CCC;}
.new_cat ul{list-style: circle; border-bottom:1px solid #ccc; padding-left: 20px}
.new_cat li{line-height: 26px;}
.new_cat a{text-decoration: none; color: black;}
.new_cat span:hover{color: #7bcfec; padding: 2px 0; border-bottom:2px solid #CCC; transition: all 0.5s ease-out;}
/*最新文章*/
.new_art{ width: 240px; padding: 10px; margin-top: 10px;border: 1px solid #CCC;}
.new_art ul{list-style: none;}
.new_art li{height: 55px; margin-top: 10px; padding-bottom: 5px; border-bottom:1px solid #CCC; line-height: 29px;}
.new_art a{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #474645; display:block; font-weight: bold; line-height: 30px;}
.new_art span:hover{color: #7bcfec; padding: 5px 0; border-bottom:2px solid #000; transition: all 0.5s ease-out;}
.new_art p{ height: 30px;}
/*云标签*/
.cld_tag{ width: 240px; padding: 10px;margin-top: 10px; border: 1px solid #CCC;}
.cld_tag ul {list-style: none;height: auto; overflow: hidden;border-bottom: 1px solid #CCC;}
.cld_tag li { height: 20px; float: left; margin: 10px 5px 5px 10px; padding: 5px; border:1px solid #000; border-radius: 6px;}
.cld_tag a{ text-decoration: none; color: black; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.cld_tag li:hover{font-size: 18px; font-weight: bold; border-radius: 1px;-moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1);}
/*尾部*/
footer {width: 100%; background-color: #6E6E6E; bottom: 0; height: 53px;}
footer p{ width: 173px; line-height: 25px; background: #6E6E6E; color: #FFF;}

/*分页*/
.page{color: #FFFFFF; text-align:center; margin: 0 auto;width: 165px;}
.page ul{list-style: none; margin-top: 10px;}
.page li{float: left; width: 25px; height: 25px;border: 1px solid #CCC;}
.page a{ line-height: 25px; text-align:center; display:block;}
.page .atv{ font-weight: bolder }

@media all and (min-width: 1100px) {
    .r_wapper{display: block}
    .l_wapper{width: 75%}
}